@use '@/app/base.scss' as *;

.SingleMargin {
  z-index: 1000;
  &.margin-item {
    position: relative;
    left: vw(50);
    margin-top: vh(20);
    height: vh(150);
    width: vw(300);
    border: 1px solid white;
    background-color: black;
    border-radius: 20px;
    .info {
      position: absolute;
      left: 0px;
      top: 0px;
      height: 100%;
      width: vw(100);
      border: 1px solid white;
      border-width: 0 1px 0 0;
    };
    .username-title{
      position: absolute;
      top: vh(20);
      left: vw(10);
      height: vh(20);
      width: 100%;
      color: white;
      font-family: 'Han Sans SC';
      font-weight: 900;
      font-size: vh(15);
      line-height: vh(15);
      word-wrap:break-word;
    };
    .content {
      position: absolute;
      top: vh(15);
      left: vw(110);
      height: vh(80);
      width: vw(180);
      .content-item {
        position: absolute;
        top: 0px;
        left: 0px;
        margin: 0px;
        height: 100%;
        width: 100%;
        color: white;
        font-size: vh(15);
        font-family: 'Han Sans SC';
        line-height: vh(15);
        word-wrap: break-word;
        overflow-y: scroll;
        scrollbar-width: none;
        background-color: #000;
      }
    };
    .delete {
      position: absolute;
      top: vh(100);
      left: vw(15);
      height: vh(25);
      width: vw(70);
      color: white;
      font-family: 'Han Sans SC';
      font-size: vh(15);
      background-color: darkred;
      line-height: vh(15);
      border: 1px solid white;
      border-radius: 10px;
    };
    .edit {
      position: absolute;
      top: vh(100);
      left: vw(115);
      height: vh(25);
      width: vw(70);
      color: white;
      font-family: 'Han Sans SC';
      font-size: vh(15);
      background-color: darkred;
      line-height: vh(15);
      border: 1px solid white;
      border-radius: 10px;
    }
    .add-answer {
      position: absolute;
      top: vh(90);
      left: vw(215);
      height: vh(45);
      width: vw(70);
      color: white;
      font-family: 'Han Sans SC';
      font-size: vh(15);
      background-color: darkred;
      line-height: vh(15);
      border: 1px solid white;
      border-radius: 10px;
    }
  }

  // .margin-item .type-title{
  //   position: absolute;
  //   top: vh(60);
  //   left: vw(10);
  //   height: vh(20);
  //   width: 100%;
  //   color: white;
  //   font-family: 'Han Sans SC';
  //   font-weight: 900;
  //   font-size: vh(15);
  //   line-height: vh(15);
  //   word-wrap:break-word;
  // }
}