@use 'sass:math';
@tailwind base;
@tailwind components;
@tailwind utilities;

$design-width: 1920;
$design-height: 1080;

@function vw($px){
  @return math.div($px, $design-width)*100vw;
}

@function vh($px){
  @return math.div($px, $design-height)*100vh;
}


// @font-face{
//   font-family: "Han Sans SC";
//   font-weight: 900;
//   src: 
//     url("./font/HanSansSC/source-han-sans-sc-heavy-heavy.woff") format(".woff")
//     url("./font/HanSansSC/Source_Han_Sans_SC_Heavy_Heavy.otf") format("opentype"),
// }

// @font-face{
//   font-family: "Han Sans SC";
//   font-weight: 700;
//   src: 
//     url("./font/HanSansSC/source-han-sans-sc-bold.woff") format(".woff")
//     url("./font/HanSansSC/Source_Han_Sans_SC_Bold.otf") format("opentype"),
// }
// @font-face{
//   font-family: "Han Sans SC";
//   font-weight: 500;
//   src: 
//     url("./font/HanSansSC/source-han-sans-sc-medium-medium.woff") format(".woff")
//     url("./font/HanSansSC/Source_Han_Sans_SC_Medium_Medium.otf") format("opentype"),
// }
// @font-face{
//   font-family: "Han Sans SC";
//   font-weight: 400;
//   src: 
//     url("./font/HanSansSC/source-han-sans-sc-regular.woff") format(".woff")
//     url("./font/HanSansSC/Source_Han_Sans_SC_Regular.otf") format("opentype"),
// }
// @font-face{
//   font-family: "Han Sans SC";
//   font-weight: 350;
//   src: 
//     url("./font/HanSansSC/source-han-sans-sc-normal-normal.woff") format(".woff")
//     url("./font/HanSansSC/Source_Han_Sans_SC_Normal_Normal.otf") format("opentype"),
// }
// @font-face{
//   font-family: "Han Sans SC";
//   font-weight: 300;
//   src: 
//     url("./font/HanSansSC/source-han-sans-sc-light-light.woff") format(".woff")
//     url("./font/HanSansSC/Source_Han_Sans_SC_Light_Light.otf") format("opentype"),
// }
// @font-face{
//   font-family: "Han Sans SC";
//   font-weight: 100;
//   src: 
//     url("./font/HanSansSC/source-han-sans-sc-extralight-extralight.woff") format(".woff")
//     url("./font/HanSansSC/Source_Han_Sans_SC_ExtraLight_ExtraLight.otf") format("opentype"),
// }

.chosen {
  color: red;
  box-shadow: 0 4px 20px rgba(255, 255, 255, 0.7), 
              0 8px 30px rgba(255, 255, 255, 0.5), 
              0 12px 40px rgba(255, 255, 255, 0.3); /* White shades */
}

html, body {
  height: 100%;
  width: 100%;
  margin: 0px;
  border: 0px;
  padding: 0px;
}

#app {
  height: 100%;
  width: 100%;
  margin: 0px;
  padding: 0px;
  font-weight: normal;
}


.selected {
  animation-name: selected;
  animation-duration: 10s;
  animation-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
  animation-iteration-count: 1;
}

.routerlink-en{
  color: white;
  font-family: 'Noto Sans SC';
  font-weight: 900;
  letter-spacing: 0px;
  font-size: 40%;
}

.routerlink-ch{
  color: white;
  font-family: 'Noto Sans';
  font-weight:900;
  letter-spacing: 0px;
  font-size: 40%;
}